.container {
    margin-top: 50px;
    margin-bottom: 10px;
}

.row {
    padding: 0 10%;
}

.count_up1 {
    font-size: large;
    font-weight: bold;
    color: rgba(234, 248, 33, 0.993);
}

.count_up2 {
    font-size: large;
    font-weight: bold;
    color: rgba(20, 241, 20, 0.959);
}

.count_up3 {
    font-size: large;
    font-weight: bold;
    color: rgba(247, 12, 12, 0.959);
}

.footer {
    display: flex;
    justify-content: space-between;
}

.infected {
    opacity: 0.95;
    margin-bottom: 20px;
    border-bottom: 10px solid rgba(220, 231, 68, 0.5);
}

.recovered {
    opacity: 0.95;
    margin-bottom: 20px;
    border-bottom: 10px solid rgba(15, 197, 15, 0.5);
}

.deaths {
    opacity: 0.95;
    margin-bottom: 20px;
    border-bottom: 10px solid rgba(226, 10, 10, 0.5);
}

.Number_animation {
    color: blue;
}


/* 

@media( max-width: 770px) {
    .card {
        margin: 2% 0 !important;
    }
} */